# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# testing and build outputs
coverage/
build/
dist/
.next/
out/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
